*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;

}
#main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: white;
}
#bullet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 40%;
}
#para{
    margin: 10px 0;
    padding: 0 10px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    width: 80%;
    border-radius: 2px;
    box-shadow: 0 0 5px white;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
::-webkit-scrollbar{
    background-color: black;
}