*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 144, 201);
}
nav{
    background-color: rgb(60, 111, 142);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    
}
nav ul li{
    padding: 0 15px;
    list-style-type: none;
    font-size: 22px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li:hover{
    text-shadow: 0 0 4.5px black;
    scale: 2;
}
.border{
    background-color: rgb(213, 219, 45);
    border: solid #ffffff 2px;
    border-radius: 5px; 
    margin: auto;
    width: 80%;
}
.contents{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents img {
    filter: drop-shadow(0 0 4px black);
}