*{
    margin: 0;
    padding: 0;
}
@keyframes slide-left{
    from{
        transform: translateX(-600px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide-rigth{
    from{
        transform: translateX(600px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fade {
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}
@keyframes slide-down-float{
    0%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes float{
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
body{
    background-color: #FEF2F4;
}
#main-title{
   display: flex;
   text-align: center;
   flex-direction: column;
   font-size: 50px;
   margin: 15px;
   animation: slide-down-float 1s;
}
#ha{
    font-size: 35px;
    padding-left: 140px;
    margin-bottom: 10px;
    animation: slide-left .7s;
}
nav{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px 0;
    background-color: #D14D72;
    height: 60px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
nav ul li{
    list-style-type: none;
    padding: 10px;
    font-size: 30px;
    animation: fade 1s;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    text-shadow: 0 0 5px white;
    font-size: 35px;
}
.container{
    font-size: 20px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container p{
    animation: fade 1.4s;
}
.container img{
    width: 80%;
    margin-top: 15px;
}
#news{
    display: grid;
    grid-template-columns: 50% 50%;
}
#left{
    animation: slide-left 1.3s;
    width: 80%;
    height: 570px;
}
#right{
    animation: slide-rigth 1.3s;
    width: 80%;
    height: 570px;
}
#raspored{
    width: 30%;
    height: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: fade 1.2s ease;
}
.za-nas{
    width: 80%;
    margin-top: 15px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.za-nas p{
    text-align: center;
    text-align: justify;
    animation: fade 1.3s;
    font-size: 25px;
}