*{
    margin: 0;
    padding: 0;
}
@keyframes slide-down{
    from{
        transform: translateY(-400px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes fade{
    from{
        opacity: 0.2;
    }
    to{
        opacity: 1;
    }
}
#main-title{
    padding: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-down 1s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 40px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px ;
    color: white;
    font-size: 20px;
    animation: fade 1.2s;
}