* {
  padding: 0;
  margin: 0;
}
@keyframes left {
  from {
    transform: translateX(-400px);
  }
}
@keyframes right {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
body {
  background-color: #fdf7e4;
  color: #bbab8c;
  width: 100%;
}
#main-title {
  font-size: 45px;
  padding: 0 30px;
  margin: 30px;
  color: rgb(44, 44, 44);
}
#main-title,
a {
  text-decoration: none;
}
#main-title:hover {
  text-shadow: 0 0 1.5px black;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbab8c;
  margin: 25px 0;
}
nav ul{
  list-style-type: none;
  color: black;
  display: flex;
  margin: 30px 0;
}
nav ul li{
  padding: 0 10px;
  font-size: 20px;
}
.gore-grid{
  display: grid;
  grid-template-rows: auto auto;
}
#gore-slika{
  width: 699px;
  height: 730px;
}
.img{
 display: flex;
 justify-content: center;
 align-items: center; 
}
#slika{
  width: 775px;
  height: 365px;
  margin-left: 5px;
  margin-top: 3px;
}
section {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}
.mar {
  margin: 50px;
}
#brojki {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 17px;
  margin: 20px 0;
  padding: 10px 0;
  border: 3px solid #bbab8c;
  border-radius: 3px;
  background-color: #bbab8c;
  width: 100px;
}
#razdaleko {
  padding: 0 8px;
}
#razdaleko:hover{
  text-shadow: 0 0 1px black;
}
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  width: 70%;
}
#text,
a {
  color: black;
  text-decoration: none;
}
#text:hover {
  color: rgb(255, 255, 255);
}
.imgs-left {
  border: 20px solid #faeed1;
  background-color: #faeed1;
  border-radius: 6px;
  color: rgb(44, 44, 44);
  animation: left 1s ease;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.imgs-scale {
  border: 20px solid #faeed1;
  background-color: #faeed1;
  border-radius: 6px;
  color: rgb(44, 44, 44);
  animation: scale 1s ease;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.imgs-right {
  border: 20px solid #faeed1;
  background-color: #faeed1;
  border-radius: 6px;
  color: rgb(44, 44, 44);
  animation: right 1s ease;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#image {
  width: 300px;
  height: 300px;
  margin: 10px 0;
}
#image:hover {
  scale: 1.02;
  box-shadow: 0 0 4px black;
  border-radius: 2px;
}
footer {
  background-color: #bbab8c;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}